<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Elements by Family</title>
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
	</head>
	<body>
		<h1>Welcome to Elements Page</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Symbol</th>
				<th>Atomic Number</th>
				<th>Family</th>
				<th>Mass Number</th>
				<th>Valence</th>
				<th>Ionic Charge</th>
			</tr>
			<tr th:each="elmFam: ${elmFams}">
<!-- 				<td th:text="${elmFam.name}!=null?${elmFam.family} : 'VACANT'">Name</td> -->
				<td th:text="${elmFam.name}">Symbol</td>
				<td th:text="${elmFam.symbol}">Symbol</td>
				<td th:text="${elmFam.getAtomicNum()}">Atomic Number</td>
				<td th:text="${elmFam.family}">Family</td>
				<td th:text="${elmFam.massNumber}">Mass Number</td>
				<td th:text="${elmFam.getValence()}">Valence</td>
				<td th:text="${elmFam.ionicCharge}">Ionic Charge</td>
<!-- 				<td th:text="${elmFam.name}!=null?${elmFam.family} + ', ' + ${elmFam.valence} : 'VACANT'">Name</td> -->		
			</tr>
		</table>
	</body>
</html>